{{define "page:title"}}Example page{{end}} {{define "page:main"}}

<section class="generator">
  <div>
    <p>Random Character Generator</p>
    <span class="generator__output">
      <span class="generator__output__text">{{.RandomString}}</span>
      <button class="generator__output__copy">
        <svg
          width="28"
          height="28"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <rect
            width="28"
            height="28"
            stroke="none"
            fill="currentColor"
            opacity="0"
          />

          <g transform="matrix(1 0 0 1 12 12)">
            <path
              style="
                stroke: none;
                stroke-width: 1;
                stroke-dasharray: none;
                stroke-linecap: butt;
                stroke-dashoffset: 0;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
                fill: currentColor;
                fill-rule: nonzero;
                opacity: 1;
              "
              transform=" translate(-12, -12)"
              d="M 4 2 C 2.895 2 2 2.895 2 4 L 2 18 L 4 18 L 4 4 L 18 4 L 18 2 L 4 2 z M 8 6 C 6.895 6 6 6.895 6 8 L 6 20 C 6 21.105 6.895 22 8 22 L 20 22 C 21.105 22 22 21.105 22 20 L 22 8 C 22 6.895 21.105 6 20 6 L 8 6 z M 8 8 L 20 8 L 20 20 L 8 20 L 8 8 z"
              stroke-linecap="round"
            />
          </g>
        </svg>
      </button>
    </span>
  </div>
  <form class="generator__output__controls" action="/generate" method="POST">
    <label class="form-control">
      <input
        type="number"
        name="Count"
        placeholder="Length"
        value="{{.Form.Count}}"
      />
    </label>
    <label class="form-control__checkbox">
      <input
        type="checkbox"
        name="LowerCase"
        {{if
        .Form.LowerCase}}checked{{end}}
      />
      LOWER CASE
    </label>
    <label class="form-control__checkbox">
      <input
        type="checkbox"
        name="UpperCase"
        {{if
        .Form.UpperCase}}checked{{end}}
      />
      UPPER CASE
    </label>
    <label class="form-control__checkbox">
      <input
        type="checkbox"
        name="Numbers"
        {{if
        .Form.Numbers}}checked{{end}}
      />
      NUMBERS
    </label>
    <label class="form-control__checkbox">
      <input
        type="checkbox"
        name="SpecialCharacters"
        {{if
        .Form.SpecialCharacters}}checked{{end}}
      />
      SYMBOLS
    </label>

    <button class="btn btn--primary">Generate</button>
  </form>
</section>
{{end}}
